---
import chroma from "chroma-js";

function generateGradient() {
	const colorScale = chroma
		.scale([
			"#0571b0ff",
			"#92c5deff",
			"#f7f7f7ff",
			"#f4a582ff",
			"#ca0020ff",
		])
		.mode("lch")
		.domain([7, 11.8]);
	const stops = Array.from({ length: 5 }, (_, i) => colorScale(i * 5).hex());
	return `linear-gradient(to right, ${stops.join(", ")})`;
}

const gradientStyle = generateGradient();
---

<style>
	#gradient-bar {
		background: linear-gradient(
			to right,
			rgb(16, 48, 94),
			rgb(136, 152, 175),
			rgb(255, 255, 255),
			rgb(210, 153, 139),
			rgb(165, 50, 23)
		);
	}

	#value-indicator-line {
		transition: left 300ms ease-in-out;
	}
</style>

<div id="map" class="w-screen h-screen"></div>
<div id="geocoder" class="geocoder fixed top-4 left-4 z-10"></div>

<div
	class="sm:w-[500px] text-sm w-full flex flex-col gap-2 absolute bottom-10 rounded-md z-10 bg-white p-4 left-1/2 transform -translate-x-1/2"
>
	<div>
		<p class="text-md font-semibold" id="title">
			Consumption-Based CO₂ Emissions / Per Capita Per Annum
		</p>
		<p class="mb-2">United Kingdom</p>
	</div>

	<div>
		<div class="w-full h-4 rounded" style={`background: ${gradientStyle};`}>
		</div>
		<div class="flex justify-between">
			<span id="min">7 tons</span>
			<span id="max">11.8 tons</span>
		</div>
	</div>

	<div id="meta">
		The median person consumes goods and services worth <span
			id="times"
			class="font-semibold">9.4 tons</span
		> of CO₂, every year.
	</div>
	<div id="hover">Hover over a point to see its value.</div>
</div>

<script>
	import mapboxgl from "mapbox-gl";
	import { MapboxLayer } from "@deck.gl/mapbox";
	import { MVTLayer } from "@deck.gl/geo-layers";
	import MapboxGeocoder from "@mapbox/mapbox-gl-geocoder";
	import chroma from "chroma-js";
	import { GeoJsonLayer } from "@deck.gl/layers";
	const MAPBOX_TOKEN = import.meta.env.PUBLIC_MAPBOX_TOKEN;

	// Adjusted generateColorExpression to account for different modes
	function generateColorExpression(feature) {
		return chroma
			.scale([
				"#0571b0ff",
				"#92c5deff",
				"#f7f7f7ff",
				"#f4a582ff",
				"#ca0020ff",
			])
			.mode("lch")
			.domain([7, 11.8])(feature.properties["total"])
			.rgb();
	}

	const map = new mapboxgl.Map({
		container: "map",
		center: [-3.4, 55.3],
		zoom: 5,
		minZoom: 4,
		maxZoom: 17,
		style: "mapbox://styles/mapbox/light-v11?optimize=true",
		accessToken: MAPBOX_TOKEN,
		antialias: true,
		projection: { name: "mercator" },
	});

	map.on("load", () => {
		const firstLabelLayerId = map
			.getStyle()
			.layers.find((layer) => layer.type === "symbol").id;

		function handleHover({ object }) {
			const infoDiv = document.querySelector("#hover");
			if (!object) {
				return;
			}

			const tons = object.properties["total"].toFixed(1);
			let hoverText = `This area consumes <span id="times" class="font-semibold">${tons} times</span> tons worth of CO₂ a year.`;

			infoDiv.innerHTML = hoverText;
		}

		function updateLayerData() {
			const layerId = "map";
			if (map.getLayer(layerId)) {
				map.removeLayer(layerId);
			}

			const layer = new MapboxLayer({
				id: layerId,
				type: MVTLayer,
				data: "https://map.kafkaesque.blog/data/emissions/{z}/{x}/{y}.pbf",
				getFillColor: (feature) => generateColorExpression(feature),
				pickable: true,
				onHover: handleHover,
				renderSubLayers: (props) => {
					return new GeoJsonLayer(props);
				},
			});

			map.addLayer(layer, firstLabelLayerId);
		}

		updateLayerData();

		const geocoder = new MapboxGeocoder({
			accessToken: MAPBOX_TOKEN,
			mapboxgl: mapboxgl,
		});
		document.getElementById("geocoder").appendChild(geocoder.onAdd(map));

		map.addControl(new mapboxgl.NavigationControl());
	});
</script>
